shopping-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.shopping-list__item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  border-radius: var(--radius-md);
  background-color: var(--bg-secondary);
}

.shopping-list__input {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 24px;
  align-items: center;
}

.shopping-list__category-input {
  width: 220px;
  height: 32px;
}

.shopping-list__quantity-input {
  width: 60px;
  height: 32px;
}

.shopping-list__item--name {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  padding: 2px 0px;
  gap: 4px;
  font-size: var(--font-size-5);
  color: var(--text-primary);
  user-select: none;
}

.packed {
  text-decoration: line-through;
  color: var(--text-subtle);
}

li {
  cursor: pointer;
}

.unchecked svg {
  color: var(--text-subtle);
}

/* .unchecked:hover svg {
  color: var(--text-muted);
} */
