.segment__container {
  display: inline-flex;
  background: var(--background-sunken);
  border-radius: var(--radius-lg);
  gap: var(--spacing-2);
  padding: 0.8px;
}

.segment__icon {
  color: var(--text-muted);
}

.segment__text {
  font-size: var(--font-size-4);
  line-height: 20px;
  color: var(--text-secondary);
  font-weight: var(--font-weight-medium);
  user-select: none;
}

/* BASE button inside segment container */
.segment__option {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
  padding: var(--spacing-3) var(--spacing-6);
  border-radius: calc(var(--radius-lg) - 0.75px);
  transition: 0.2s ease;
  letter-spacing: -0.015rem;
  cursor: pointer;
}

/* Active segment */
.segment__active {
  --segment-shadow: 0 0 0 var(--thickness-thin)
      oklch(from var(--colour-neutral-900) l c h / 8%),
    0 1px 2px 0 rgba(28, 29, 34, 0.06);

  background: var(--background-component-default);
  box-shadow: var(--segment-shadow);
}

.segment__active:hover {
  background: var(--background-component-default);
}

/* Inactive segment */
.segment__option:hover:not(.segment__active) {
  background: var(--background-sidebar-item-hover);
}
