@import "./primitives.css";
@import "./reset.css";

@layer primitives, reset, base, components, utilities;

@layer base {
  /* #region Fonts */
  @font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-style: normal;
    src: url("/fonts/InterVariable.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-style: italic;
    src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter Display";
    font-weight: 400;
    src: url("/fonts/InterDisplay-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter Display";
    font-weight: 500;
    src: url("/fonts/InterDisplay-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter Display";
    font-weight: 600;
    src: url("/fonts/InterDisplay-SemiBold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Monaspace";
    font-weight: 300 800;
    src: url("/fonts/MonaspaceNeonVarVF.woff2") format("woff2");
  }
  /*#endregion*/

  :root {
    color-scheme: light dark;
    --background-primary: var(--colour-white);
    --background-sunken: var(--colour-neutral-50);
    --background-subtle: var(--colour-neutral-25);
    --background-dimmed: oklch(from var(--colour-neutral-1000) l c h / 32%);
    --background-component-default: var(--colour-white);
    --background-component-hover: var(--colour-neutral-50);
    --background-component-active: var(--colour-white);
    --background-sidebar-item-hover: var(--colour-neutral-100);
    --background-sidebar-item-active: var(--colour-white);
    --border-default: var(--colour-neutral-100);
    --border-alpha: rgba(74, 74, 82, 0.12);
    --text-primary: var(--colour-neutral-900);
    --text-secondary: var(--colour-neutral-700);
    --text-muted: var(--colour-neutral-500);
    --text-subtle: var(--colour-neutral-400);
    --text-selection: var(--colour-neutral-100);
    --colour-brand: var(--colour-blue-50);
    --text-selection-background: oklch(from var(--colour-blue-50) l c h / 25%);

    /* Custom backgrounds */
    --background-blue-bold: var(--colour-blue-50);
    --background-blue-subtle: var(--colour-blue-40);
    --background-blue-subtlest: var(--colour-blue-35);
    --background-cyan-bold: var(--colour-cyan-50);
    --background-cyan-subtle: var(--colour-cyan-40);
    --background-cyan-subtlest: var(--colour-cyan-35);
    --background-green-bold: var(--colour-green-50);
    --background-green-subtle: var(--colour-green-40);
    --background-green-subtlest: var(--colour-green-35);
    --background-red-bold: var(--colour-red-50);
    --background-red-subtle: var(--colour-red-40);
    --background-red-subtlest: var(--colour-red-35);
    --background-orange-bold: var(--colour-orange-50);
    --background-orange-subtle: var(--colour-orange-40);
    --background-orange-subtlest: var(--colour-orange-35);
    --background-yellow-bold: var(--colour-yellow-50);
    --background-yellow-subtle: var(--colour-yellow-40);
    --background-yellow-subtlest: var(--colour-yellow-35);
    --background-purple-bold: var(--colour-purple-50);
    --background-purple-subtle: var(--colour-purple-40);
    --background-purple-subtlest: var(--colour-purple-35);
    --background-pink-bold: var(--colour-pink-50);
    --background-pink-subtle: var(--colour-pink-40);
    --background-pink-subtlest: var(--colour-pink-35);
    --background-grey-bold: var(--colour-grey-50);
    --background-grey-subtle: var(--colour-grey-40);
    --background-grey-subtlest: var(--colour-grey-35);

    /* Text on custom backgrounds */
    --text-blue: var(--colour-blue-50);
    --text-on-blue-subtle: var(--colour-blue-55);
    --text-on-blue-subtlest: var(--colour-blue-55);
    --text-cyan: var(--colour-cyan-50);
    --text-on-cyan-subtle: var(--colour-cyan-55);
    --text-on-cyan-subtlest: var(--colour-cyan-55);
    --text-green: var(--colour-green-50);
    --text-on-green-subtle: var(--colour-green-55);
    --text-on-green-subtlest: var(--colour-green-55);
    --text-red: var(--colour-red-50);
    --text-on-red-subtle: var(--colour-red-55);
    --text-on-red-subtlest: var(--colour-red-55);
    --text-orange: var(--colour-orange-50);
    --text-on-orange-subtle: var(--colour-orange-55);
    --text-on-orange-subtlest: var(--colour-orange-55);
    --text-yellow: var(--colour-yellow-50);
    --text-on-yellow-subtle: var(--colour-yellow-60);
    --text-on-yellow-subtlest: var(--colour-yellow-60);
    --text-purple: var(--colour-purple-50);
    --text-on-purple-subtle: var(--colour-purple-55);
    --text-on-purple-subtlest: var(--colour-purple-55);
    --text-pink: var(--colour-pink-50);
    --text-on-pink-subtle: var(--colour-pink-55);
    --text-on-pink-subtlest: var(--colour-pink-55);
    --text-grey: var(--colour-grey-50);
    --text-on-grey-subtle: var(--colour-grey-55);
    --text-on-grey-subtlest: var(--colour-grey-55);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background-primary: var(--colour-neutral-1000);
      --background-sunken: var(--colour-neutral-1100);
      --background-subtle: var(--colour-neutral-950);
      --background-dimmed: oklch(from var(--colour-neutral-1000) l c h / 72%);
      --background-component-default: var(--colour-neutral-900);
      --background-component-hover: var(--colour-neutral-800);
      --background-component-button-default: var(--colour-neutral-900);
      --background-component-button-hover: var(--colour-neutral-800);
      --background-component-active: var(--colour-neutral-600);
      --background-sidebar-item-hover: var(--colour-neutral-800);
      --background-sidebar-item-active: var(--colour-neutral-900);
      --border-default: oklch(0.3 0.01 256.88);
      --border-alpha: rgba(74, 74, 82, 0.12);
      --text-primary: var(--colour-neutral-50);
      --text-secondary: var(--colour-neutral-100);
      --text-muted: var(--colour-neutral-300);
      --text-selection: var(--colour-neutral-700);
      --colour-brand: oklch(from var(--colour-blue-50) calc(l + 0.2) c h);
      --text-selection-background: oklch(
        from var(--colour-neutral-300) l c h / 50%
      );
    }
  }

  html[data-theme="light"] {
    color-scheme: light !important;
  }

  html[data-theme="dark"] {
    color-scheme: dark !important;
  }

  html[data-theme="dark"] :root {
    --background-primary: var(--colour-neutral-1000);
    --background-sunken: var(--colour-neutral-1100);
    --background-subtle: var(--colour-neutral-950);
    --background-dimmed: oklch(from var(--colour-neutral-1000) l c h / 72%);
    --background-component-default: var(--colour-neutral-900);
    --background-component-hover: var(--colour-neutral-800);
    --background-component-button-default: var(--colour-neutral-900);
    --background-component-button-hover: var(--colour-neutral-800);
    --background-component-active: var(--colour-neutral-600);
    --background-sidebar-item-hover: var(--colour-neutral-800);
    --background-sidebar-item-active: var(--colour-neutral-900);
    --border-default: oklch(0.3 0.01 256.88);
    --border-alpha: rgba(74, 74, 82, 0.12);
    --text-primary: var(--colour-neutral-50);
    --text-secondary: var(--colour-neutral-100);
    --text-muted: var(--colour-neutral-300);
    --text-selection: var(--colour-neutral-700);
    --colour-brand: oklch(from var(--colour-blue-50) calc(l + 0.2) c h);
    --text-selection-background: oklch(
      from var(--colour-neutral-300) l c h / 50%
    );
  }

  ::selection {
    background: var(--text-selection-background);
    color: inherit;
  }

  body {
    --body-width: 49.5rem;
  }

  h1 {
    font-family: var(--font-display);
    font-size: var(--font-size-9);
    font-weight: var(--font-weight-semibold);
    color: var(--text-primary);
  }

  h2 {
    font-family: var(--font-display);
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-semibold);
    color: var(--text-primary);
  }
  h3 {
    font-family: var(--font-display);
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-semibold);
    color: var(--text-primary);
  }

  p {
    font-family: var(--font-sans);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-regular);
    color: var(--text-primary);
  }

  p + p {
    margin-top: var(--spacing-7);
  }
}

@layer components {
  .lucide {
    color: var(--text-primary);
    width: var(--size-4);
    height: var(--size-4);
    stroke-width: var(--thickness-thicker);
  }

  .tabler-icon {
    color: var(--text-primary);
    width: 1.125rem; /* 18px */
    height: 1.125rem; /* 18px */
    stroke-width: 1.75;
  }

  .button__default {
    display: inline-flex;
    padding: var(--spacing-3);
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-md);
    background: var(--background-component-default);
    color: var(--text-secondary);
    box-shadow: var(--shadow-stroked-sm);
  }

  .button__default:hover {
    background: var(--background-component-hover);
  }

  .button__default:disabled {
    opacity: 0.5;
    background: var(--background-component-default);
  }

  hr {
    color: var(--border-default);
    border-style: solid;
    border-top-width: 0.5px;
    border-top-color: var(--border-default);
    margin: var(--spacing-6) 0;
  }

  input[type="text"],
  textarea {
    border: none;
    background: transparent;
    margin: 0;
    outline: 1px solid var(--border-default);
    border-radius: 6px;
    padding: 0.375rem 0.5rem 0.438rem 0.5rem;
    height: 2rem;
    width: 16rem;
    font-family: "Inter";
    font-size: 13px;
    font-weight: 450;
    letter-spacing: -0.00406rem;
    box-shadow: 0px 1px 3px 0.25px rgba(0, 0, 0, 0.08);
    position: relative;
  }

  input[type="text"]:hover,
  input[type="text"]:active,
  input[type="text"]:focus {
    outline: 1px solid #c8cbd0;
    box-shadow: 0px 1px 3px 0.25px rgba(0, 0, 0, 0.08);
  }

  input[type="text"]::placeholder {
    color: #90959d;
    outline: var(--debug-outlines) dashed fuchsia;
  }
  /* 
  input[type="text"]:focus::placeholder {
    color: #90959d;
    opacity: 0;
  } */

  select {
    appearance: base-select;
    color: var(--text-primary);
    background-color: transparent;
    width: 56px;
    box-sizing: border-box;
    padding: 0.2rem 0.75rem;
    border: none;
    box-shadow: var(--shadow-stroked-sm);
    border-radius: calc(0.5rem - 2px);
    cursor: pointer;

    & > button {
      display: flex;
      width: 100%;
      font-family: inherit;
      color: currentColor;

      & > svg {
        margin: 0 0 0 auto;
        width: 1.2rem;
        height: 1.2rem;
      }
    }

    &:has(option:not([hidden]):checked) {
      color: #18181b;
    }

    &:focus-visible {
      outline: 2px solid #a1a1aa;
      outline-offset: -1px;
    }

    /* &::picker-icon {
      display: block;
    } */

    &::picker(select) {
      appearance: base-select;
      border: 1px solid #e4e4e7;
      padding: 0.25rem;
      margin-top: 0.25rem;
      border-radius: calc(0.5rem - 2px);
      box-shadow: var(--shadow-stroked-sm);
      cursor: default;
      transition:
        opacity 0.1s ease-in-out,
        transform 0.1s ease-in-out;
      transform-origin: top;
      transform: translateY(0);
      opacity: 1;

      @starting-style {
        transform: translateY(-0.25rem) scale(0.95);
        opacity: 0;
      }
    }

    & optgroup label {
      display: block;
      padding: 0.375rem 0.5rem;
    }

    & option {
      padding: 0.375rem 0.5rem;
      border-radius: calc(0.5rem - 4px);
      outline: none;

      &::after {
        content: "";
        width: 1rem;
        height: 1.5rem;
        margin-left: auto;
        opacity: 0;
        background: center / contain no-repeat
          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%2318181b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20 6 9 17l-5-5'%3E%3C/path%3E%3C/svg%3E");
      }

      &::checkmark {
        display: none;
      }

      &:checked {
        background-color: transparent;

        &::after {
          opacity: 1;
        }
      }

      &:hover,
      &:focus-visible {
        background-color: #f4f4f5;
        color: #18181b;
      }
    }
  }
}
