.page__header--header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-7);
  margin-bottom: var(--spacing-4);
}

.page__title {
  font-size: var(--font-size-8);
}

.page__header--header svg {
  color: var(--text-primary);
  height: var(--size-7);
  width: var(--size-7);
}

.page__header--subtitle {
  color: var(--text-secondary);
  margin-bottom: var(--spacing-10);
}

hr {
  margin: var(--spacing-10) 0 var(--spacing-12);
}
