.profile__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.profile-card {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--radius-md);
  background-color: var(--bg-secondary);
  box-shadow: var(--shadow-stroked-md);
}
