.input-message__container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: -1rem;
  transition: all 0.1s ease-out;
  opacity: 0;
  z-index: 5;
}

.input-message__container--visible {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0rem;
  transition: all 0.1s ease-out;
  opacity: 1;
  z-index: 5;
}

.input-message__text {
  font-size: 0.8125rem;
  color: var(--text-secondary);
}
