.floating__content {
  flex: 1;
  background-color: var(--background-primary);
  overflow-y: auto;
  margin: var(--spacing-4) var(--spacing-4) var(--spacing-4) 0;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-stroked-md);
  padding: var(--spacing-16) var(--spacing-14);
  scrollbar-width: none;
}

.floating__content--content {
  margin: 0 auto;
  max-width: var(--body-width);
}
