.icon-button {
  flex-shrink: 0;
  height: fit-content;
  width: fit-content;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.icon-button__ghost {
  background: transparent;
  color: var(--text-secondary);
  transition: background 0.2s ease;
}

.icon-button__ghost:hover {
  background: var(--background-component-hover);
  color: var(--text-primary);
}

.icon-button__default {
  background: var(--background-component-default);
  color: var(--text-secondary);
  box-shadow: var(--shadow-stroked-sm);
  transition: background 0.2s ease;
}

.icon-button__default:hover {
  background: var(--background-component-hover);
  color: var(--text-primary);
}

.icon-button__alpha {
  background: transparent;
  color: var(--text-secondary);
  transition: background 0.2s ease;
}

.icon-button__alpha:hover {
  background: rgba(0, 0, 0, 0.1);
  color: var(--text-primary);
}

.muted__icon {
  color: var(--text-subtle);
}

.muted__icon:hover {
  color: var(--text-muted);
}

.icon-button__md {
  display: flex;
  border-radius: 6px;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
}

.icon-button__md > * {
  height: 16px;
  width: 16px;
}

.icon-button__sm {
  padding: 6px;
  border-radius: 6px;
  width: 24px;
  height: 24px;
}

.icon-button__sm > * {
  height: 16px;
  width: 16px;
}

.icon-button__xs {
  padding: 6px;
  border-radius: 4px;
  /* width: 20px;
  height: 20px; */
}

.icon-button__xs > * {
  height: 12px;
  width: 12px;
}
