.item__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--spacing-9);
}

.checkout {
  display: flex;
  flex-direction: column;
  padding: 32px;
  background: var(--background-default);
  border-radius: 8px;
  box-shadow: var(--shadow-stroked-md);
  overflow: hidden;
  width: 72%;
  margin: 0 auto;
}

.no-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 400px;
}

.no-items-icon {
  width: 56px;
  height: 56px;
  color: var(--text-subtle);
}

.basket-header {
  margin-bottom: var(--spacing-9);
}

.item__thumbnail {
  width: var(--size-13);
  height: var(--size-13);
  background: var(--background-sunken);
  border-radius: var(--radius-sm);
  overflow: hidden;
  border: 0.5px solid var(--border-alpha);
}

.basket-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--spacing-10);
  margin-bottom: var(--spacing-14);
}

.discount-section {
  display: flex;
  gap: var(--spacing-6);
  align-items: center;
  margin-bottom: var(--spacing-9);
}

.apply-button {
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-sans);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 153.846% */
  letter-spacing: -0.00406rem;
  background: var(--colour-brand);
  color: white;
}
.apply-button:hover {
  filter: brightness(1.1);
}

.item__details {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--spacing-6);
}

.item__title-metadata {
  display: flex;
  flex-direction: column;
}

.metadata {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  color: var(--text-secondary);
}

.item__details--quantity {
  width: 56px;
}

.item__price {
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-medium);
  color: var(--text-primary);
}

.code-check {
  display: flex;
  align-items: center;
  gap: 6px;
}

.valid-code p,
invalid-code p {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-medium);
}

.valid-code svg,
.valid-code p {
  color: var(--colour-green-50);
}

.invalid-code svg,
.invalid-code p {
  color: var(--colour-red-50);
}

.banner-icon {
  width: var(--size-5);
  height: var(--size-5);
  color: var(--text-on-blue-subtlest);
}

.banner-text {
  font-size: var(--font-size-5);
  color: var(--text-on-blue-subtlest);
  font-weight: var(--font-weight-regular);
}

.banner-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: var(--spacing-6) var(--spacing-5);
  background: var(--background-blue-subtlest);
  border-radius: var(--radius-md);
  margin-bottom: var(--spacing-9);
}

.summary {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  margin-bottom: var(--spacing-9);
  align-items: flex-end;
}

.summary-label {
  display: flex;
  gap: var(--spacing-6);
}

.summary-label span {
  width: 120px;
  text-align: right;
}

.summary h2 {
  font-family: var(--font-sans);
}

.pay {
  align-self: center;
  margin: 40px 0;
}

.vat__summary {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-medium);
  color: var(--text-secondary);
}
